<a href="https://colab.research.google.com/github/Aironys1/-1-Aula-Exerc-cio-P-gina-de-tributo/blob/master/Python_Para_Analise_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 1 - Programação em Python

### o que é Python?
Python é uma linguagem de programação popular, python pode ser usado para:



1.  Inteligência Artificial

1.  Machine Learning

1.  Desevolvimento de Software

1.  Desenvolvimento de Aplicativos

1.  Automações (RPA)
2.  IoT (Internete das Coisas)

2.  E muito mais

## 1 - Sintaze Básica

In [ ]:
# Blocos de comandos
print("Seja bem vindo ao mundo da programão!")

'''
Aqui é um comentário em bloco.

Para pular uma linha usamos o comando (\n)

Usamos (#) para comentário em linha

'''

Seja bem vindo ao mundo da programão!

'\nAqui é um comentário em bloco.\n\nPara pular uma linha usamos o comando (\n)\n\nUsamos (#) para comentário em linha\n\n'

In [ ]:
nome = input('Qual seu nome? \n')
mensagem = (nome)
print("Seja bem vindo", nome)

## 2-Operadores matemáticos



*   Soma

*   Subtração

*   Multiplicação
*   Divisão


*   Exponenciação


*   Resto da Divisão


*   Divisão de Chão

In [ ]:
# Soma 
1+ 5 +9 +20

In [ ]:
# Multiplicação 
16 * 3

In [ ]:
# Divisão 
20 / 3

In [ ]:
# Exponenciação 
4 ** 3

In [ ]:
# Resto da Divisão 
9 % 3

In [ ]:
# Divisão de Chão
11 // 3

## 3 - Variáveis

In [ ]:
# Criando duas variáveis
time = "Palmeiras"
selecao = "Brasil"

In [ ]:
print(time, selecao)

In [ ]:
# Variáveis de texto
texto1 = 'Temos uma variávei de texto'
print(texto1)

In [ ]:
texto2 = str("Sou uma variável de texto declarada em STR")
print(texto2)

In [ ]:
# Variáveis numéricas
numero1 = 1990
numero2 =  int(5)
numero3 = int(12)

data_nascimento = (numero2, numero3, numero1)

print(data_nascimento)

In [ ]:
print("Eu nasci em: \n", data_nascimento)

In [ ]:
# Pontos flutuantes 

peso = 75.5
altura = 1.70
imc = peso / altura**2

print(imc)

In [ ]:
# Criando uma calculadora de IMC
seuNome = str(input("Seu nome: "))
seuPeso = float(input("Digite seu peso: "))
print("Seu peso é: ", seuPeso)
suaAltura = float(input("Digite sua altura: "))
print("Sua altura é: ", suaAltura)
print("\n")
print("Aqui seu IMC: \n O IMC é reconhecido como padrão internacional para avaliar o grau de sobrepeso e obesidade.  \n  É calculado dividindo o peso (em kg) pela altura ao quadrado (em metros).")
imc = float(seuPeso / (altura * altura))
print(seuNome,"!","\n Seu IMC é: %.2f " % imc)

In [ ]:
# Variáveis Boleanas, elas são usadas para veredadeiros ou falsos
falso = False
verdadeiro = True

In [ ]:
print(falso)
print(verdadeiro)

In [ ]:
print((falso == 0))
print((verdadeiro == 0))
print((0 == False))

##4-Tipos de Dados


Vamos trabalhar com:
*   Listas []

*   Tuplas ()
*   Dicionários {}

Esses tipos de dados podem receber tipo de informação, inclusive operações Aritméticas

In [ ]:
# Listas podemos passar uma cadeias de valores


lista1 = [10,5,9,8,15,30]
lista1

In [ ]:
lista2 = ["Aironys", "1990", "Palemiras", 5, 12, True]
lista2

In [ ]:
# Acessando valores em uma lista pelo indice
lista2[2:3]

In [ ]:
# Tuplas são formandos por parenteses e são valores imutáveis
# Não podemos alterar os valores depois de criadas

tupla1 = ("Valor 1", True, False, 150, [50,895, "Oi"], [1])
tupla1

In [ ]:
# Dicionários
# São formados por chaves {}

dicionario = {
    'Nome': 'Aironys Garrido',
    'Id': 1,
    'Cargo': 'Analista de Sistemas',
    'Salario': 3500,
    'tupla1': tupla1,
    'lista2': lista2,
    'lista1':lista1
}

dicionario

## 5 - Nomeação de Variáveis

In [ ]:
morango = uva = banana = 250
print(morango, uva, banana)

In [ ]:
# Nomear com listas 
listas_Carros = ['BMW', 'Audi', 'Tesla']
marca1, marca2, marca3 = listas_Carros

listas_Carros

In [ ]:
# Combinar variáveis
nome1 = "Garrido",
sobrenome2 = "Macedo"
completoNome = nome1, sobrenome2
completoNome

In [ ]:
investimento = float(100)
taxa_juros = float(0.8)
calculo = investimento * taxa_juros
ganho = (investimento * taxa_juros) + investimento

print("Juros Acrescido: ",calculo, " \n Valor Ganho: ", ganho)